{% extends "base.html" %} {% load static %} {% load cache %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <!-- Scrollspy Menu -->
      <nav id="navbar-example3" class="flex-column align-items-stretch pe-3">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link text-dark" href="{% url 'users:profile'%}"
            >Профиль</a
          >
          <a class="nav-link text-dark" href="{% url 'users:password_change'%}"
            >Сменить пароль</a
          >
          <a
            class="nav-link bg-dark text-light active"
            href="{% url 'users:profile_cards'%}"
            >Мои карточки</a
          >
        </nav>
      </nav>
    </div>
    <div class="col-md-9">
      {% comment %} ТУТ КАРТОЧКИ {% endcomment %} 
      {% for card in cards %} 
      {%include "cards/include/card_preview.html" %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
